* {
    margin: 0; /* Sin margen */
    padding: 0; /* Sin padding */
    box-sizing: border-box; /* Repetar el ancho y alto de las cajas */
    font-family: "Roboto", sans-serif; /* Estilo de fuente */
    font-size: 20px; /* Tamaño de fuente base o raiz (root) */
  }
  header nav {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro con opacidad al 80% */
  }

  nav ul {
    width: 80%; /* Ocupará el 80% de pantalla */
    height: 44px; /* Tiene un alto de 44 pixels */
    list-style: none; /* No se muestra como una lista vertical */
    display: flex; /* Es un contenedor flex */
    justify-content: space-between; /* Espacio automático
                                       entre los elementos de la lista */
    align-items: center; /* Centrado de sus elementos en altura */
  }

  nav ul li {
    height: 44px; /* Tiene la altura de la barra */
    line-height: 44px; /* La linea tiene la altura de la barra */
    overflow: hidden; /* Oculta lo que se salga de esa altura */
  }
  nav ul li a img {
    width: 18px; /* Tendrá un ancho de 18 pixels */
  }

  header nav ul {
    margin: 0 auto; /* Va centrada automáticamente en el header */
  }

  header nav ul li a {
    text-decoration: none; /* No saldrá subrayado */
    color: lightgrey; /* Su color será gris claro */
  }
  header nav ul li a:hover{
    color: rgb(251,251,251);
  }


  
.vertical-block {
  display: flex; /* Contenedor flex */
  flex-direction: column; /* Los elementos se mostrarán en columna */
  text-align: center; /* Los textos se alinearán al centro */
  justify-content: space-between; /* Habrá espacio automático entre elementos */
}

/* Cualquier bloque donde los elementos aparecen en fila */

.horizontal-block {
  display: flex; /* Contenedor flex */
  flex-direction: row; /* Los elementos de mostrarán en fila (por defecto) */
  text-align: center; /* Los textos se alinearán al centro */
  justify-content: space-around; /* Habrá espacio automático delante y detrás
              de cada elemento */
  margin: 3rem 0; /* Margen del tamaño de la fuente raiz x 3 arriba y abajo */
}

/* Contenido de la pagina */

.page-content {
  width: 90%; /* Ancho del 90% del área visible (viewport) */
  margin: 40px auto 20px auto; /* Centrada con margenes arriba y abajo distintos */
}

/* Imágenes adaptables o responsive */

.responsive-img {
  max-width: 100%; /* La imagen se adapta al ancho de su contenedor */
}

/* Una línea de contenido dentro de un bloque */

.block-line {
  margin: 0.7rem 0; /* Cada línea tiene un margen arriba y abajo del 70% del
                   alto de la fuente raiz */
}

/* Un botón azul */

.blue-button {
  background-color: rgb(0, 113, 227); /* Fondo azul */
  color: white; /* Texto en blanco */
  text-align: center; /* Texto alineado al centro */
  border: none; /* Sin borde */
  outline: none; /* Sin línea alrededor al presionarlo */
  border-radius: 25px; /* Radio para redondear los bordes */
}

/* Letras en negritas */

.bold {
  font-weight: bold;
}

/* Titulo 3 x tamaño de la fuente raiz */

.title-one {
  font-size: 3rem;
}

/* Titulo 2 x tamaño de la fuente raiz */

.title-two {
  font-size: 2rem;
  padding: 0 3rem;
}

/* Color naranja de texto */

.orange {
  color: orange;
}

/* Enlace azul */

.blue-link {
  text-decoration: none; /* No pinta el subrayado de los enlaces */
  color: rgb(0, 113, 227);
}

/*----------------------------------------------------------------*/

/* SECCION DE MACBOOK */

/* Seccion para el macbook air */

.macbook {
  width: 100%;
  margin: 20px;
}

/* Padding para el botón de compras */

.buy-button {
  padding: 5px 15px;
}

/*----------------------------------------------------------------*/

/* SECCION DE ACCESORIOS Y TRADE IN */

/* Contenedor de los bloques */

.accesories-tradein {
  width: 100%;
}

/* Bloques grises */

.accesories,
.tradein {
  width: 48%;
  background-color: lightgray;
}

/* Botón de ver */

.see-button {
  padding: 5px 25px;
}

/*----------------------------------------------------------------*/

/* FOOTER */

/* Todo el footer en gris */

footer {
  background-color: lightgray;
}

/* El contenido del footer al 90% de ancho de la página */

.footer-content {
  width: 90%;
  margin: 0px auto;
  padding: 10px;
}

/* Los textos de los enlaces son más pequeños que la fuente raiz */

footer a {
  font-size: 0.8rem;
}

/* El copyright es el texto más pequeño aunque vaya en negritas */

.copyright {
  font-size: 0.6rem;
  font-weight: bold;
  color: black;
}











